In [1]:
import pandas as pd

In [3]:
df_turbine = pd.read_csv('/Users/sushmitroy/Mathematical_statistics/Data/Turbine.csv')
# Reading few lines
df_turbine.head()

  Date2010  AveKW  AveSpeed  Production
0   Feb 14  547.9       7.8       13146
1   Feb 15  776.0       8.9       18626
2   Feb 16  944.4       9.7       22667
3   Feb 17  506.2       7.7       12148
4   Feb 18  322.9       6.4        7742