## Chatper 3

In [45]:
# Example Chi square test
import pandas as pd
import numpy as np
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 1000
from bokeh.charts import Bar,Histogram, output_notebook, show , BoxPlot
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
# read flights delay data

df_GS2002 = pd.read_csv('Data/GSS2002.csv')
df_GS2002.head()

,ID,Region,Gender,Race,Education,Marital,Religion,Happy,Income,PolParty,Politics,Marijuana,DeathPenalty,OwnGun,GunLaw,SpendMilitary,SpendEduc,SpendEnv,SpendSci,Pres00,Postlife
0,1,South Central,Female,White,HS,Divorced,Inter-nondenominational,Pretty happy,30000-34999,Strong Rep,Conservative,NaN,Favor,No,Favor,Too little,Too little,About right,About right,Bush,Yes
1,2,South Central,Male,White,Bachelors,Married,Protestant,Pretty happy,75000-89999,Not Str Rep,Conservative,Not legal,Favor,Yes,Oppose,About right,Too little,About right,About right,Bush,Yes
2,3,South Central,Female,White,HS,Separated,Protestant,NaN,35000-39999,Strong Rep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bush,NaN
3,4,South Central,Female,White,Left HS,Divorced,Protestant,NaN,50000-59999,"Ind, Near Dem",NaN,NaN,NaN,NaN,NaN,About right,Too little,Too little,Too little,NaN,NaN
4,5,South Central,Male,White,Left HS,Divorced,Protestant,NaN,40000-49999,Ind,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df_GS2002_cleaned = df_GS2002.dropna(axis= 0, subset= ['Education','DeathPenalty'])
df_GS2002_cleaned.reset_index(inplace= True)

In [47]:
# No of rows in cleaned up data frame
len(df_GS2002_cleaned)

1307

In [48]:
df_cont_table =pd.pivot_table(df_GS2002, index= ['Education'], columns=['DeathPenalty'], values=[], aggfunc = len)
df_cont_table

DeathPenalty  Favor  Oppose
Education
Bachelors       135      71
Graduate         64      50
HS              511     200
Jr Col           71      16
Left HS         117      72

In [49]:
df_cont_table['Row_Sum'] = df_cont_table['Favor'] + df_cont_table['Oppose']

In [50]:
df_cont_table

DeathPenalty  Favor  Oppose  Row_Sum
Education
Bachelors       135      71      206
Graduate         64      50      114
HS              511     200      711
Jr Col           71      16       87
Left HS         117      72      189

In [51]:
df_cont_table.columns.values

array(['Favor', 'Oppose', 'Row_Sum'], dtype=object)

In [53]:
df_cont_table = df_cont_table.reset_index()

In [54]:
df_cont_table

DeathPenalty  Education  Favor  Oppose  Row_Sum
0             Bachelors    135      71      206
1              Graduate     64      50      114
2                    HS    511     200      711
3                Jr Col     71      16       87
4               Left HS    117      72      189

In [24]:
#df_cont_table.index.names = ['test']

DeathPenalty  Education  Favor  Oppose  Row_Sum
0             Bachelors    135      71      206
1              Graduate     64      50      114
2                    HS    511     200      711
3                Jr Col     71      16       87
4               Left HS    117      72      189

In [61]:
#df_cont_table.reset_index()
df_cont_table.columns.name = ''
df_cont_table

   Education  Favor  Oppose  Row_Sum
0  Bachelors    135      71      206
1   Graduate     64      50      114
2         HS    511     200      711
3     Jr Col     71      16       87
4    Left HS    117      72      189

In [62]:
sum()

898

In [ ]:
def chisq(df_cont):